<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hospital/css/style.css' %}"/>
    <title>Patient List</title>
</head>
<body>


<a class="btn" href="{% url 'hospital:home' %}">Home</a>

<h1>List of Patients</h1>

    <form action="">
        {{ form.as_p }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>

            {% for p in patient_list %}
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{ p.first_name }}</td>
                    <td>{{ p.last_name }}</td>
                    <td>{{ p.appointment }}</td>
                </tr>
                </tbody>
            {% endfor %}
    </form>

</body>
</html>