{#{% extends 'base.html' %}#}


{#{% block content %}#}
    <form action="">

        {{ form.as_p }}
        <button type="submit" style="background-color: #dac4f1">Choose</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Specialization</th>

            </tr>
          </thead>
          <tbody>
          {% for doc in doctor_object %}
            <tr>
              <th scope="row">{{loop.counter}}</th>
              <td>{{ doc.first_name }}</td>
              <td>{{ doc.last_name }}</td>
              <td>Otto</td>
              <td></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% for doc in doctor_object %}
            {{ doc.first_name }}
        {% endfor %}
    </form>
{#{% endblock %}#}
</body>
</html>